---
layout: archive
author_profile: true
---

{% include base_path %}

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Short Bio" }}</h3>-->

<b>About Me</b>
<hr>
I am a PhD scholar and Prime Minister Research Fellow at Department of Mechanical Engineering in IISc Bangalore.<br>
I received by B.Tech. degree in Mechanical Engineering (2020) from National Institute of Technology, Srinagar.<br><br>

My areas of interest include data driven control, learning based system identification, autonomous vision and optimal control. My primary focus as a PhD student is developing data-driven techniques which leverage techniques such as Koopman architecture to construct linear and bilinear models for the underlying nonlinear systems along with development of general model-based control laws which can be applied to these linear/bilinear models.<br>

I work in Data Augumented Control of Autonomous System (DACAS) Lab at IISc Bangalore under the supervision of <a href = "https://iiscprofiles.irins.org/profile/167326#other_information_panel"> <i style="color:blue;">Prof. Jishnu Keshavan</i></a>.
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
