---
layout: archive
author_profile: true
---

{% include base_path %}

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Short Bio" }}</h3>-->

<b>About Me</b>
<hr>
I am a direct PhD scholar and <i>Prime Minister Research Fellow</i> at <b>Robert Bosch Centre for Cyber-Physical Systems</b> in Indian Institute of Science (IISc), Bengaluru.<br>
I completed my B.Tech. in <i>Mechanical Engineering</i> from <b>Delhi Technological University (DTU)</b>, Delhi in 2017.<br>
I worked as <i>Mechanical Design Engineer</i> in <b>Larsen & Toubro (L&T) Defence, Bengaluru</b> for four years before joining IISc in 2021.<br>

My current research areas include robust control, adaptive non-linear control, and their applications to unmanned vehicles with primary focus on developing advanced autonomous algorithms for unmanned aerial vehicles.<br>

I work in <b>Data Augumented Control of Autonomous System (DACAS) Lab</b> at IISc Bengaluru under the supervision of <a href = "https://iiscprofiles.irins.org/profile/167326"> <i style="color:blue;">Dr. Jishnu Keshavan</i></a> and <a href = "https://iiscprofiles.irins.org/profile/99109"> <i style="color:blue;">Dr. Suresh Sundaram</i></a>.
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
